/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.truncate {
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 10px;
    padding-top: 0px;
    height: 250px;
    width: 300px;
}

#add_bookmark_btn {
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

#add_bookmark_title {
    width: 250px;
    height: 20px;
    padding-left: 5px;
}

#selected_text {
    width: 280px;
    height: 100px;
    color: #000;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
    overflow: auto;
    -webkit-user-select: none;
}

#current_tab_url {
    text-overflow:ellipsis;
    font-size: 10px;
}
